body {
    text-align: left;
    background: white;
    color: black;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 750px;
    margin-left: 750px;
}

/* Headline */
h1 {
    font-family: 'Arial';
    font-size: 60px;
}

/* Paragraphs + list text */
p,
ul li {
    font-family: 'Georgia';
    font-size: 25px;
}

/* Bullet markers */
ul li::marker {
    font-family: 'Georgia';
    font-size: 25px;
}

/* Image */
img {
    width: 150px;
    height: 150px;
    border-radius: 59%;
}
